{% extends 'front.html.twig' %}

{% block front %}
	<div class="row">
		<div class="col-12">
			<h3 class="mb-4">{{ guest.name }}</h3>
			<p class="mb-5 w-100">{{ guest.description }}</p>
			<div class="row">
				{% for media in images %}
					<div class="col-4 media mb-4">
						<img class="w-100" src="{{ asset(media.path) }}" alt="{{ media.title }}">
					</div>
				{% endfor %}
			</div>

			<!-- Pagination -->
			{% if images|length > 5 %}
				<div class="pagination mt-4">
					{% if currentPage > 1 %}
						<a href="{{ path('guest', { id: guest.id, page: currentPage - 1 }) }}" class="btn btn-primary">Précédent</a>
					{% endif %}
					<a href="{{ path('guest', { id: guest.id, page: currentPage + 1 }) }}" class="btn btn-primary">Suivant</a>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
