{% extends 'front.html.twig' %}

{% block front %}
	<div class="row">
		<div class="col-12">
			<h3 class="mb-4">Portfolio</h3>
			<div class="mb-5 row">
				<div class="col-2">
					<a class="btn w-100 py-3 {{ album is null ? 'active' }}" href="{{ path('portfolio_all') }}">
						Toutes
					</a>
				</div>
				{% for a in albums %}
					<div class="col-2">
						<a class="btn w-100 py-3 {{ album == a ? 'active' }}" href="{{ path('portfolio', {id: a.id}) }}">
							{{ a.name }}
						</a>
					</div>
				{% endfor %}
			</div>
			<div class="row">
				{% for media in medias %}
					<div class="col-4 media mb-4">
						<img class="w-100" src="{{ asset(media.path) }}" alt="{{ media.title }}">
						<p class="text-center mb-0 mt-2 media-title">{{ media.title }}</p>
					</div>
				{% endfor %}
			</div>
			<!-- Pagination -->

			{% if totalPages > 1 %}
				<div class="pagination mt-4">
					{% if currentPage > 1 %}
						<a href="{{ path(album is null ? 'portfolio_all' : 'portfolio', album is null ? {page: currentPage - 1} : {id: album.id, page: currentPage - 1}) }}" class="btn btn-primary">Précédent</a>
					{% endif %}

					{% for i in 1..totalPages %}
						<a href="{{ path(album is null ? 'portfolio_all' : 'portfolio', album is null ? {page: i} : {id: album.id, page: i}) }}" class="btn btn-primary {% if currentPage == i %}active{% endif %}">
							{{ i }}
						</a>
					{% endfor %}

					{% if currentPage < totalPages %}
						<a href="{{ path(album is null ? 'portfolio_all' : 'portfolio', album is null ? {page: currentPage + 1} : {id: album.id, page: currentPage + 1}) }}" class="btn btn-primary">Suivant</a>
					{% endif %}
				</div>
			{% endif %}


		</div>
	</div>
{% endblock %}
