{% extends 'admin.html.twig' %}

{% block admin %}
	<div class="row">
		<div class="col-12">
			<div class="d-flex justify-content-between align-items-center">
				<h1 class="mb-5">Invités</h1>
				<a href="{{ path ('admin_add_guest') }}" class="btn btn-primary" role="button" aria-label="Ajouter un invité">Ajouter
					<i class="fas fa-user-plus"></i>
				</a>
			</div>
			<div class="guests d-flex flex-column">
				{% for guest in guests %}
					<div class="guest py-5 d-flex justify-content-between align-items-center">
						<h4>{{ guest.name }}
							({{ guest.medias|length }})</h4>
						<div class="username">{{ guest.username }}</div>
						<div class="email">{{ guest.email }}</div>
						<div class="status">
							<form method="POST" action="{{ path('admin_access_guest', { id: guest.id }) }}">
								<button type="submit" class="btn {{ guest.isActive ? 'btn-success' : 'btn-danger' }}">
									{{ guest.isActive ? 'Active' : 'Bloqué' }}
								</button>
							</form>
						</div>
						<a href="{{ path('guest', {id: guest.id}) }}">découvrir</a>
						<form method="POST" action="{{ path('admin_delete_guest', { id: guest.id }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet invité ?');">
							<button type="submit" class="btn btn-danger">Supprimer</button>
						</form>
					</div>
				{% endfor %}
			</div>

			<!-- Pagination -->
			<div class="pagination d-flex justify-content-center">
				{% if currentPage > 1 %}
					<a href="{{ path('admin_list_guest', { page: currentPage - 1 }) }}" class="btn btn-secondary">Précédent</a>
				{% endif %}

				{% for i in 1..totalPages %}
					<a href="{{ path('admin_list_guest', { page: i }) }}" class="btn {{ i == currentPage ? 'btn-primary' : 'btn-outline-primary' }}">
						{{ i }}
					</a>
				{% endfor %}

				{% if currentPage < totalPages %}
					<a href="{{ path('admin_list_guest', { page: currentPage + 1 }) }}" class="btn btn-secondary">Suivant</a>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
